.title-bar {
  background-color: black;
  text-align: center;
  font-size: 1.6em;
  color: white;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  cursor: pointer;
  margin-left: -1em;
  margin-right: -1em;
}
ul {
  margin: 0px;
  padding: 0px;
}
button,
input,
select,
textarea {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.with-padding {
  padding: 1em;
}
.no-padding {
  padding: 0em;
}
.minus-side-margin {
  margin-left: -1em;
  margin-right: -1em;
}
.bg-green-10 {
  background-color: #81dd4f;
  color: white;
}
.bg-green-20 {
  background-color: #6fbf40;
  color: white;
}
.bg-green-30 {
  background-color: #62aa3a;
  color: white;
}
.bg-green-40 {
  background-color: #4f8c2e;
  color: white;
}
.bg-green-50 {
  background-color: #39661f;
  color: white;
}
.bg-grey {
  background-color: #A6AAA9;
  color: black;
}
.bg-black {
  background-color: black;
  color: white;
}
#login-form .input-lg {
  text-align: center;
}
#event-list .panel-heading {
  cursor: pointer;
  text-align: center;
}
#event-list #events-previous .panel-heading {
  background-color: #A6AAA9;
  color: black;
}
#event-list #events-previous .panel-heading .toggle-handler.collapsed {
  display: inline-block;
  background-image: url('../img/arrow-top.png');
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 1.2em;
  background-size: 1.5em auto;
}
#event-list #events-upcoming .panel-heading {
  background-color: black;
  color: white;
}
#event-list #events-upcoming .panel-heading .toggle-handler.collapsed {
  display: inline-block;
  background-image: url('../img/arrow-bottom.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 1.2em;
  background-size: 1.5em auto;
}
#event-list .event-date {
  color: dimgray;
}
#event-list .event-time {
  color: #acacac;
}
.partner-body {
  padding: 1em;
}
.partner-body .event-time {
  color: #acacac;
}
#home-btns .ui-btn {
  font-size: 1.5em;
  line-height: 2em;
  text-transform: uppercase;
  text-align: center;
}
#home-btns .ui-btn .glyphicon {
  font-size: 2em;
  display: block;
  margin-top: 0.4em;
}
#home-btns .map-btn {
  font-size: 3em;
  line-height: 2em;
  text-align: left;
}
#home-btns .map-btn .text {
  margin-left: 0.8em;
}
#home-btns .map-btn .glyphicon {
  display: inline-block;
  float: right;
  font-size: 1.1em;
  margin-bottom: 0.4em;
  margin-right: 0.3em;
}
.partner-body {
  background-color: #f8f8f8;
  font-size: 1.6em;
  color: black;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.partner-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.partner-body p {
  font-size: 1.0em;
}
.profile-body {
  background-color: #ffffff;
}
#activity-list .panel-heading {
  text-align: center;
}
#activity-list .previous .panel-heading {
  background-color: #A6AAA9;
  color: black;
}
#activity-list .upcoming .panel-heading {
  background-color: black;
  color: white;
}
#activity-list .event-date {
  color: dimgray;
}
#activity-list .event-time {
  color: #acacac;
}
.divider {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  margin-top: -1px;
  font-weight: 500;
  color: #333333;
  background-color: gray;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.form-search {
  padding: 10px;
  background-color: #A6AAA9;
}
.previous .panel-heading {
  background-color: #A6AAA9;
  color: black;
  background-image: url('../img/arrow-top.png');
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: 2em auto;
}
.previous .panel-heading h4 {
  padding-top: 1em;
}
/**
 * Question Body
 * --------------------------------------------------
 */
.question-body {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #62aa3a;
  color: white;
}
.question-body .question {
  background-color: #62aa3a;
  color: white;
}
.question-body .question .info {
  font-size: 1.3em;
}
.question-body .question .current {
  position: absolute;
  top: 0px;
  right: 30px;
  font-size: 1.6em;
}
.question-body .divider-item {
  margin: 2em;
  background-color: #62aa3a;
  color: white;
}
.question-body .visitor {
  margin-bottom: 1em;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.question-body .category {
  margin-top: 1em;
  margin-bottom: 1em;
}
.question-body .category .btn-success {
  background-color: #62aa3a;
  border-color: #62aa3a;
}
.question-body ul .list-group-item {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border: 0px;
  width: 83.33333333%;
  margin-left: auto;
  margin-right: auto;
}
.question-body .comment-body {
  background-color: #62aa3a;
  color: white;
}
