<loader></loader>
<div ng-show="partners">
  <div class="form-group form-search">
    <input type="text" class="filter" 
           ng-model="partnerName"
           placeholder="~local.partner_filter~">
  </div>
  <div class="panel panel-body panel-list" style="margin-top: -15px;">
    <ul id="event-list">
      <li ng-repeat="partner in partners">
        <a ng-click="nextLocation(event.id + baseURL.PARTNERHREF + partner.id)"
           style="display: block;" class="container-fluid">
          <h4 class="row event-name">
            ~ partner.name ~
          </h4>
          <p class="row event-time">
            ~ partner.category ~
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>