#login-form{
	input{
	}
}

#previous-events{
	.ui-collapsible-heading{

	}
}

#upcoming-events{
	.ui-collapsible-heading{

	}
}

#home-btns{
	.ui-btn-lg{
		font-size: 1.5em;
		line-height: 2em;

		&.ui-btn-icon-lg.ui-btn-icon-top{
			padding-top: 2.25em;
		}
	}

	.map-btn{
		font-size: 2.2em;
		line-height: 2.2em;
		text-align: left;
	}
}