@import url(common.less);

#login-form{
	.input-lg{
		text-align: center;
	}
}

#event-list{
	.panel-heading{
		text-align: center;
	}

	#events-previous{
		.panel-heading{
			.bg-grey();

			.toggle-handler.collapsed{
				display: inline-block;
				background-image: url('../img/arrow-top.png');
				background-position: center top;
				background-repeat: no-repeat;

				padding-top: 1.2em;
				background-size: 1.5em auto;
			}
		}
	}

	#events-upcoming{
		.panel-heading{
			.bg-black();

			.toggle-handler.collapsed{
				display: inline-block;
				background-image: url('../img/arrow-bottom.png');
				background-position: center bottom;
				background-repeat: no-repeat;

				padding-bottom: 1.2em;
				background-size: 1.5em auto;
			}
		}
	}

	.event-date{
		color: dimgray;
	}

	.event-time{
		color: rgb(172, 172, 172);
	}
}
.partner-body{
  .event-time{
    color: rgb(172, 172, 172);
  }
  padding: 1em;
}

#home-btns{
	.ui-btn{
		font-size: 1.5em;
		line-height: 2em;
		text-transform: uppercase;
		text-align: center;

		.glyphicon{
			font-size: 2em;
			display: block;
			margin-top: 0.4em;
		}
	}

	.map-btn{
		font-size: 3em;
		line-height: 2em;
		text-align: left;

		.text{
			margin-left: 0.8em;
		}

		.glyphicon{
			display: inline-block;
			float: right;
			font-size: 1.1em;
			margin-bottom: 0.4em;
			margin-right: 0.3em;
		}
	}
}

.partner-body{
  background-color: @gray-10;
  font-size: 1.6em;
  color: black;
  padding-top: 0.4em;
  padding-bottom: 0.4em;

  .minus-side-margin();
}

.partner-img{
  width: 100%;
  height: 50%;
  text-align: center;
  display: inline-block;
}

.partner-body p{
  font-size: 1.0em;
}

.profile-body{
  background-color: #ffffff;
}

#activity-list{
  .panel-heading{
    text-align: center;
  }

  .previous{
    .panel-heading{
      .bg-grey();
    }
  }

  .upcoming{
    .panel-heading{
      .bg-black();
    }
  }

  .event-date{
    color: dimgray;
  }

  .event-time{
    color: rgb(172, 172, 172);
  }
}
.divider {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  margin-top: -1px;
  font-weight: 500;
  color: #333333;
  background-color: gray;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.form-search{
  padding: 10px;
  background-color: #A6AAA9;
}

.previous{
  .panel-heading{
    .bg-grey();
    background-image: url('../img/arrow-top.png');
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 2em auto;

    h4{
      padding-top: 1em;
    }
  }
}

/**
 * Question Body
 * --------------------------------------------------
 */
.question-body{
  .bg-green-30() !important;

  .question{
    .bg-green-30() !important;
  }
  .divider-item{
    margin: 2em;
    .bg-green-30() !important;
  }
}
