<div id="header" class="bar bar-nav">
	<div class="logo"></div>
</div><!-- /header -->

<div class="content"></div>

<nav class="navbar navbar-default navbar-fixed-bottom" id="navbar" role="navigation">

	<ul class="nav navbar-nav navbar-right" id="right-navbar-item">
		<li>
			<% if(window.App.Auth.isGuest()){ %>
				<a href="#login"><%= polyglot.t('Login') %></a>
			<% } else { %>
				<a href="#profile"><%= polyglot.t('My Profile') %></a>
			<% } %>
		</li>
	</ul>

	<ul class="nav navbar-nav navbar-left" id="left-navbar-item">
		<li>
			<a href="#">
				<span class="glyphicon glyphicon-align-justify"></span>
				<span><%= polyglot.t('Menu') %></span>
			</a>
		</li>
	</ul>
</nav><!-- /footer -->
